#carousel-wrapper>.carousel-inner {
  max-height: 400px;
}

#carousel-wrapper>.carousel-inner img {
  width: 100%;
}

.navbar-brand {
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
}  


.footer {
  background: #000;
  color: #ffffff;
  padding: 25px;
  font-size: 1.5em;
}

.card-img-top {
  max-width:50%;
  max-height:50%;
}